@import '~antd/dist/antd.dark.less';

html,
body .ant-layout {
  background-color: rgb(34, 36, 45);
  height: 100vh;
  width: 100vw;
}

body {
  font-family: 'Nunito', sans-serif;
}

#wallet-btn-icon {
  margin-right: 10px !important;
}
